@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Black+Ops+One&family=Dancing+Script:wght@400;500;600&family=Lemon&family=Orbitron&family=Oswald:wght@200;300;400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&family=Rubik+Scribble&family=Titillium+Web:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Audiowide', sans-serif;
font-family: 'Bebas Neue', sans-serif;
font-family: 'Black Ops One', system-ui;
font-family: 'Dancing Script', cursive;
font-family: 'Lemon', serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik Scribble', system-ui;
font-family: 'Titillium Web', sans-serif; */

body {
  font-family: "Oswald", sans-serif;

  /* background: rgb(40, 31, 53);
  background: linear-gradient(to right, rgb(40, 31, 53), rgb(61, 46, 83)); */
  color: black;
}

h1 {
  margin: 1em 0 0 0;
  font-size: 3rem;
}

h2 {
  margin-bottom: 2em;
}

span {
  margin: 0.25em;
  font-weight: 800;
  padding: 0.25em 0.75em;
  background: rgba(200, 200, 200, 0.6);
  border-radius: 0.5rem;
}

span:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #620942;
}

img {
  display: block;
  width: 80px;
  height: 80px;
}

audio {
  width: 100%;
}

.selected {
  text-decoration: underline;
  color: #620942;
}

@layer utilities {
  .radio {
    @apply max-w-[60em] w-full;
  }

  .filters {
    @apply flex justify-center flex-wrap mb-[2em] text-xl w-full;
  }

  .stations {
    @apply flex justify-around items-center flex-row flex-wrap;
  }

  .station {
    @apply sm:text-lg text-sm m-4 rounded-xl sm:p-2 p-0 flex flex-col justify-center items-center sm:w-48 sm:h-80 w-40 h-60;
  }

  .stationName {
    @apply flex flex-col my-2 w-full items-center justify-start gap-4;
  }

  .name {
    @apply w-full text-center text-white;
  }
}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* player styling */

.rhap_container.player {
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: 15px;
  display: flex;
  justify-items: center;
}

.rhap_stacked .rhap_controls-section {
  margin-top: 0;
}

.rhap_controls-section .rhap_volume-controls {
  justify-content: center;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Play"] svg path {
  fill: rgb(235, 235, 235);
}

.rhap_controls-section .rhap_main-controls button[aria-label="Pause"] svg path {
  fill: #620942;
}
